.primary-navigation{
    
    --underline-gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: hsla(0, 0%, 100%, 0.149);
    backdrop-filter: blur(2rem);
  }
@media (max-width :35rem){
    .primary-navigation{
        --underline-gap: .5rem;
        list-style: none;
        margin: 0;
        flex-direction: column;
        position: fixed;

        inset: 0 0 0 30%;
        z-index: 9999;
        padding: min(20rem, 10vh) 2rem;
      }
      .active{
        border: 0;
      }
}

  
  .primary-navigation a {
    text-decoration: none;
    color: var(--clr-white);
  }
  
  .primary-navigation a >span {
    font-weight: 700;
    margin-right: .5em;
  }
@media (min-width:45rem){
    
  }
  