.primary-navigation{
    --gap: clamp(1.5rem , 4vw , 3rem);
    /* --gap: 2rem; */
    --underline-gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: hsla(0, 0%, 100%, 0.082);
    backdrop-filter: blur(1.8rem);
    /* background: hsla(160, 50%, 51%, 1); */

    /* background: linear-gradient(90deg, rgba(193, 68, 68, 0.13) 0%, rgba(188, 3, 255, 0.14) 100%); */
    /* resulting css */
}
.mobile-nav-toggle{
    display: none;
}
.primary-header{
  align-items: center;
  justify-content: space-between;
}
.active{
  padding-bottom: 2.2rem;
  border-bottom: 5px solid white;
}
@media (max-width :35rem){
    .primary-navigation{
        --underline-gap: .5rem;
        list-style: none;
        margin: 0;
        flex-direction: column;
        position: fixed;

        inset: 0 0 0 30%;
        z-index: 9999;
        padding: min(20rem, 10vh) 2rem;
        transform: translateX(100%);
        transition: 500ms ease-in-out;
      }
      .primary-navigation.expanded{
        transform: translateX(0%);
        
      }
      .active{
        border: 0;
      }
      .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 10000;
        top:1.5rem;
        right:1.75rem;
        background: transparent;
        border: 0;
        background-image: url("../assets/ham-icon1.png");
        width: 2.5rem;
        aspect-ratio: 1;
      }
      .mobile-nav-toggle.expanded{
        display: block;
        position: absolute;
        z-index: 10000;
        top:1.5rem;
        right:1.75rem;
        background: transparent;
        border: 0;
        background-image: url("../assets/cross-icon1.png");
        width: 2.5rem;
        
        aspect-ratio: 1;
      }
}

  
  .primary-navigation a {
    text-decoration: none;
    color: var(--clr-white);
  }
  
  .primary-navigation a >span {
    font-weight: 700;
    margin-right: .5em;
  }
@media (min-width:45rem){
    
  }
.logo{
  margin-top:1.5rem;
  margin-left: clamp(1.5rem , 5vw , 3.5rem); ;
}


@media (max-width:45em) and (min-width:35em){
  .primary-navigation{
    padding-inline: 1.75rem;
  }
  .primary-navigation a>span{
    display: none;
  }
  .layout{
    gap:3rem;
   }
}
@media (min-width:55em){
  .primary-navigation{
    margin-top: 2rem;
    padding-inline: clamp(2rem ,10vw, 7rem);
    position: relative;

  }

  
  .primary-header::after{
    content: '';
    height:1px;
    position: relative;
    display: block;
    background: rgba(174, 174, 174, 0.661);
    width: 100%;
    order:1;
    margin-top: 2rem;
    margin-right:-2.5rem;
    z-index: 40;
  }
  
  .navbar{
    order:2;
    /* z-index: 2; */
    position: relative;
    
  }
  .navbar::before{
    content: '';
    height:8px;
    position: absolute;
    z-index: -1;
    display: block;
    /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 34%, rgba(252,176,69,1) 100%); */
    width: 100%;
    left: 0;
    top:65%;
    /* background-size: 240% 240%;
    animation: gradient-animation 10s ease infinite; */
    background: linear-gradient(251deg,#d066a7,#b0fc36,#4136da,#138fe5,#5ef0f7);
    background-size: 300% 300%;
    animation: gradient-animation 7s ease infinite;
  }
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

